2do_ExamenParcial/Contribuyente/Contribuyente/Connected Services/Banco/Banco.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="obternerCotizacion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="moneda" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="obternerCotizacionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="obternerCotizacionResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="obternerCotizacionSoapIn">
    <wsdl:part name="parameters" element="tns:obternerCotizacion" />
  </wsdl:message>
  <wsdl:message name="obternerCotizacionSoapOut">
    <wsdl:part name="parameters" element="tns:obternerCotizacionResponse" />
  </wsdl:message>
  <wsdl:portType name="BancoSoap">
    <wsdl:operation name="obternerCotizacion">
      <wsdl:input message="tns:obternerCotizacionSoapIn" />
      <wsdl:output message="tns:obternerCotizacionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BancoSoap" type="tns:BancoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="obternerCotizacion">
      <soap:operation soapAction="http://tempuri.org/obternerCotizacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BancoSoap12" type="tns:BancoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="obternerCotizacion">
      <soap12:operation soapAction="http://tempuri.org/obternerCotizacion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Banco">
    <wsdl:port name="BancoSoap" binding="tns:BancoSoap">
      <soap:address location="https://localhost:44347/Banco.asmx" />
    </wsdl:port>
    <wsdl:port name="BancoSoap12" binding="tns:BancoSoap12">
      <soap12:address location="https://localhost:44347/Banco.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>